body{
    margin: 0;
    min-height: 300vh;
    background-color: #121212;
}

header{
    width:  100%;
    padding: 3rem 0;

    position: sticky;
    top: 0;

    background-color: #FF4754;
    /* check latter on  */
    animation: fadein .02s;
}

header.invisible{
    position: fixed;
    top: -100%;

    animation: fadeout 2s;
}

@keyframes fadein {
    from{ 
        top: -100%;
    }
    to{
        top: 0;
    }
}

@keyframes fadeout {
    from{
        top: 0;
    }
    to{
        top: -100%;
    }
}
