ul {
    list-style-type: none;

    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}

ul li {
    padding: 2rem;
    margin: 1rem;
    background-color: red;
    border-radius: 2px;
}
